body{
  margin:40px auto;
  width: 100%;
  max-width:720px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:10px;
  align-items: center;
  
}

header {
  text-align: center;
  text-decoration: underline;
}

input.small_number {
  width: 2.25em;
  height: 1.2em;
}

input.large_number {
  width: 3em;
  height: 1.2em;
}

#goal {
  width: 11em;
  height: 1.75em;
}

#content > div {
  padding: 0.5em 0;
}

input[type=checkbox] {
  transform: scale(1.2);
  margin-left: .5em;
}

#starglitter {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 18px;
}

#const_note{
  font-size: 14px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}