body {
  font-variant-numeric: normal;
  margin: 0px;
}

html {
  background-color: #0c0f1e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.axistext {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.plotly-notifier {
  display: none;
}

@supports (scrollbar-width: thin) and (not (selector(::-webkit-scrollbar))) { 
  *, *::before, *::after {
    scrollbar-width: thin;
  }
}

@supports (selector(::-webkit-scrollbar)) {
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: #00000055;
    background-clip: padding-box;
    border: 4px solid transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #4a4b56;
    background-clip: padding-box;
    border: 2px solid transparent;
    min-height: 24px;
  }
  
  *::-webkit-scrollbar-thumb:focus {
    background-color: #767780;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #767780;
  }
  *::-webkit-scrollbar-thumb:active {
    background-color: #4a4b56;
  }
  
  *::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

div[role=tablist] {
  gap: 8px;
}

.inactive-row {
  position: relative;
  opacity: 0.4
}

.inactive-row::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  border-bottom: 1px solid #fff;
  width: 90%;
}