h1  {
    color: #000040;
    font-size: 20px;
    margin-bottom: .3em;
    text-align: center;
    text-decoration: underline;
  }
#graph   {
    color: #000;
    font-size: 14px;
    margin-bottom: .2em;
    text-align: center;
}